<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{application}</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
  <style type="text/css">
    body {
      font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; 
      font-weight: 300;
    }

    .container-btn {
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: right;
    }
  </style>
</head>
<body>
  <div class="container">
  	{% block content %}{% endblock %}
  </div>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  {% block scripts %}{% endblock %}
  {% if session.message %}
    <script type="text/javascript">
      alert('{{ session('message', null, true) }}');
    </script>
  {% endif %}
</body>
</html>